<h1>@Html.Sitecore().Field("Title")</h1>
<span>@Html.Sitecore().Field("BriefNote")</span>
<h3>@Html.Sitecore().Field("DetailedBlog")</h3>
<p>@Html.Sitecore().Field("PublishedDateTime")</p>
<div>@Html.Sitecore().Field("RelavantImage")</div>
