@model AltudoBatch1.Feature.DetailPage.Models.ReviewComments

@using (Html.BeginForm())
{

    <div>
        @Html.LabelFor(x => x.Name)
    </div>
    <div>
        @Html.TextBoxFor(x => x.Name)
    </div>
    <div>
        @Html.LabelFor(x => x.EmailId)
    </div>
    <div>
        @Html.TextBoxFor(x => x.EmailId)
    </div>
    <div>
        @Html.LabelFor(x => x.Comment)
    </div>
    <div>
        @Html.TextBoxFor(x => x.Comment)
    </div>
    <div>
        @Html.LabelFor(x => x.Rating)
    </div>
    <div>
        @Html.TextBoxFor(x => x.Rating)
    </div>

    <input type="submit" name="sumbit" />

}
    