@model AltudoBatch1.Project.Altudo.Models.LeadershipDetails


<div>@Model.Name</div>
<div>@Model.Age</div>
<div>@Model.Place</div>
<div>@Model.Designation</div>
<div>@Model.WorkedRole</div>
<div>@Model.Term</div>
<div>@Model.KnownFor</div>
<div>
    <a href="@Model.SuggestedArticleUrl">@Model.SuggestedArticleText</a>
</div>

<div>
    <h6>internal blog link</h6>
    <a href="@Model.InternalBlogUrl">@Model.InternalBlogText</a>
</div>
